<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> <!--digito link e depois tab para ter o atalho-->
    <title>Aula SENAC</title>
</head>

<body>
    <br>
    <hr>
    <h1>Bem-vindo a Rota SENAC!</h1>
    <hr>
    <p>
    <h1>
        Nome: <%= nome %> <!--é assim que se põe uma variavel-->
    </h1>
    </p>
</body>

</html>